body{
    margin: 0;
}
header {
    width: 100vw;
    height: 30vh;
    background-color: #1d8049;
}
.container{
    display: flex;
}
.container>div{
    display: flex;
    flex-direction: column;
}
main{
    width: 75vw;
    height: 40vh;
    background-color: darkslategrey;
}
.cont2{
    display: flex;
    width: 75vw;
}
section{
    width: 33.34%;
    height: 30vh;
    background-color: dimgray;
}
aside{
    width: 25vw;
    height: 70vh;
    background-color: seagreen;
}