@media screen and (min-width: 300px) and (max-width: 500px) {
    header{
        height: 20vh;
    }
    .container{
        flex-direction: column;
    }
    main{
        width: 100vw;
    }
    .cont2{
        width: 100vw;
        height: 20vh;
    }
    aside{
        width: 100vw;
        height: 20vh;
    }
}